<!DOCTYPE html>
<html>
<head>
    <title>Task Detail</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Task Detail</h1>
    <div class="task-details">
        <h2>{{ task.title }}</h2>
        <p>Description: {{ task.description }}</p>
        <p>Due Date: {{ task.due_date }}</p>
        <p>Status: {{ task.get_status_display }}</p>
        <p>Priority: {{ task.get_priority_display }}</p>
        <p>Category: {{task.category}}</p>
    </div>
</body>
</html>
